.header {
	position: relative;
	width: 100vw;
	height: 120px;
	background: rgb(233, 233, 233);
	span{
		margin-left: -5px;
		font-size: 11px;
	}
	h1 {
		font-family: helBold;
		padding: 40px 0 20px 20px;

	}
	.current {
		position: absolute;
		top:0;
		right: 0;

		width: 150px;
		transform:  translateX(150px);
		height: 120px;
		background: rgb(87, 74, 0);
		transition: transform 500ms ease;
		transition-delay: 300ms;
		div.headerInfo {
			margin-top: 15px;
			margin-left: 20px;
			p {
				color: rgba(255, 255, 255, 0.44);
				font-size: 14px;
				margin-top: 10px;
			}
			h6 {
				color: white;
				font-family: helMed;
				font-size: 15px;

			}
			.name {
				font-size: 20px;
				line-height: 0.5;
				letter-spacing: -1px;
				font-family: helBold;
			}
			.date {
				font-size: 11px;
			}
		}
	}
}